<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/} ">Quản lý Nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/departments} ">Quản lý Phòng ban</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" th:href="@{/} ">Đăng xuất</a>
            </li> -->
          </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm">
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-danger" type="button" >Reset</button>
          </form>
        </nav>
      </nav>
      <br>
    <!-- Body -->
    <div class="container">
        <div class="row">
            &nbsp; &nbsp; 
            <h1> Danh sách Phòng ban</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/addDepartment}" class="btn btn-primary btn-sm mb-3">
                    Thêm mới
                </a>
            </div>
        </div>
        <table class="table thead-light table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>
                      <a th:href="@{'/page/' + ${currentPage} + '?sortField=idpb&sortDir=' + ${reverseSortDir}}">ID Phòng ban</a>
                    </th>
                    <th>
                      <a th:href="@{'/page/' + ${currentPage} + '?sortField=tenpb&sortDir=' + ${reverseSortDir}}">Tên Phòng ban</a>
                    </th>
                    <th>
                      <a th:href="@{'/page/' + ${currentPage} + '?sortField=diachi&sortDir=' + ${reverseSortDir}}">Địa chỉ Phòng ban</a>
                    </th>
                    <th>Số điện thoại</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "department : ${ListDepartments}">
                    <td th:text="${department.idpb}"></td>
                    <td th:text="${department.tenpb}"></td>
                    <td th:text="${department.diachi}"></td>
                    <td th:text="${department.sdt}"></td>
                    <td>
                      <a th:href="@{/updateDepartment/{id}(id=${department.idpb})}" class="btn btn-primary">Sửa</a>
                      <!-- <a th:href="@{}" class="btn btn-primary">Chi tiết</a> -->
                      <a th:href="@{/deleteDepartment/{id}(id=${department.idpb})}" class="btn btn-danger">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div th:if="${totalPages>1}">
          <div class="row coL-sm-10">
            <div class="coL-sm-2">
              &nbsp; &nbsp;
              Tổng hàng: [[${totalItems}]]
              &nbsp; &nbsp;
            </div>
            <div class="coL-sm-1">
              <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
              </span>
            </div>

            <div class="coL-sm-1">
              <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Tiếp</a>
              <span th:unless="${currentPage < totalPages}">Tiếp</span>
              &nbsp;
            </div>

            <div class="coL-sm-1">
              <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Cuối</a>
              <span th:unless="${currentPage < totalPages}">Cuối</span>
            </div>
          </div>
        </div>
    </div>
</body>
</html>