<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/style01.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" 
        aria-expanded="false" aria-controls="collapsibleNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/} ">Quản lý Nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/departments} ">Quản lý Phòng ban</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/salaries} ">Quản lý Lương</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thêm
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">       
                <a class="dropdown-item" th:href="@{/accounts} ">Tài khoản</a>           
                <a class="dropdown-item" th:href="@{/auditlogs} ">Lịch sử</a>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="notificationBell" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell"></i>
                <!-- <span class="badge badge-danger" id="notificationCount">3</span> -->
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">       
                <li th:each = "log : ${ListLogs}">
                  <a class="dropdown-item" th:href="@{/detaillog/{id}(id=${log.idlog})}">
                    Bạn đã 
                      <span th:if="${log.act.name() == 'LOGIN'}">đăng nhập</span>
                      <span th:if="${log.act.name() == 'LOGOUT'}">đăng xuất</span>
                      <span th:if="${log.act.name() == 'ADD'}">
                          <span th:if="${log.idnv != null}"> thêm mới mã nhân viên <span th:text="${log.idnv}"></span></span>
                          <span th:if="${log.idpb != null}">thêm mới mã phòng ban <span th:text="${log.idpb}"></span></span>
                          <span th:if="${log.idluong != null}">thêm mới mã lương <span th:text="${log.idluong}"></span></span>
                          <span th:if="${log.idnv == null && log.idpb == null && log.idluong == null}">đăng ký tài khoản <span th:text="${log.idluong}"></span></span>
                      </span>
                      <span th:if="${log.act.name() == 'UPDATE'}">
                          <span th:if="${log.idnv != null}">cập nhật nhân viên mã <span th:text="${log.idnv}"></span></span>
                          <span th:if="${log.idpb != null}">cập nhật phòng ban mã <span th:text="${log.idpb}"></span></span>
                          <span th:if="${log.idluong != null}">cập nhật mã lương <span th:text="${log.idluong}"></span></span>
                          <span th:if="${log.idnv == null && log.idpb == null && log.idluong == null}">cập nhật thông tin tài khoản <span th:text="${log.idluong}"></span></span>
                      </span>
                      <span th:if="${log.act.name() == 'DELETE'}">xóa 
                          <span th:if="${log.idnv != null}">mã nhân viên <span th:text="${log.idnv}"></span></span>
                          <span th:if="${log.idpb != null}">mã phòng ban <span th:text="${log.idpb}"></span></span>
                          <span th:if="${log.idluong != null}">mã lương <span th:text="${log.idluong}"></span></span>
                      </span>
                      <span th:if="${log.act.name() == 'CHANGEPASS'}">thay đổi mật khẩu</span>
                  </a>
                </li>
              </ul>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
              <a class="nav-link" th:href="@{/logout} ">Đăng xuất</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" th:action="@{/findlog}">
            <input class="form-control mr-sm-2" type="search" name = "keyword" placeholder="Tìm kiếm">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
          </form>
        </div>
    </nav>
    <br>

    <!-- Body -->
    <div class="container">
      <div class="card">
        <div class="card-body" th:object="${auditLog}">
          <h2 class="card-title">Chi tiết hoạt động</h2>
          <hr>
          <h5 class="card-title">ID</h5>
          <p class="card-text" th:text="${auditLog.idlog}"></p>
          <h5 class="card-title">Ngày thực hiện</h5>
          <p class="card-text" th:text="${#temporals.format(auditLog.ngayth, 'yyyy-MM-dd HH:mm')}"></p>
          <h5 class="card-title">Chi tiết</h5>
          <p class="card-text">
            Người dùng <span th:text="${auditLog.iduser.email}"></span> đã 
            <span th:if="${auditLog.act.name() == 'LOGIN'}">đăng nhập</span>
            <span th:if="${auditLog.act.name() == 'LOGOUT'}">đăng xuất</span>
            <span th:if="${auditLog.act.name() == 'ADD'}">
              <span th:if="${auditLog.idnv != null}"> thêm mới mã nhân viên <span th:text="${auditLog.idnv}"></span></span>
              <span th:if="${auditLog.idpb != null}">thêm mới mã phòng ban <span th:text="${auditLog.idpb}"></span></span>
              <span th:if="${auditLog.idluong != null}">thêm mới mã lương <span th:text="${auditLog.idluong}"></span></span>
              <span th:if="${auditLog.idnv == null && auditLog.idpb == null && auditLog.idluong == null}">đăng ký tài khoản <span th:text="${auditLog.idluong}"></span></span>
            </span>
            <span th:if="${auditLog.act.name() == 'UPDATE'}" th:each = "change : ${entityChanges}">
              <span th:if="${auditLog.idnv != null}">cập nhật nhân viên mã <span th:text="${auditLog.idnv}"></span>
                đã chỉnh sửa <span th:text="${change.fieldName}"></span> từ <span th:text="${change.oldValue}"></span> thành <span th:text="${change.newValue}"></span>
              </span>
              <span th:if="${auditLog.idpb != null}">cập nhật phòng ban mã <span th:text="${auditLog.idpb}"></span>
                đã chỉnh sửa <span th:text="${change.fieldName}"></span> từ <span th:text="${change.oldValue}"></span> thành <span th:text="${change.newValue}"></span>
              </span>
              <span th:if="${auditLog.idluong != null}">cập nhật mã lương <span th:text="${auditLog.idluong}"></span>
                đã chỉnh sửa <span th:text="${change.fieldName}"></span> từ <span th:text="${change.oldValue}"></span> thành <span th:text="${change.newValue}"></span>
              </span>
              <span th:if="${auditLog.idnv == null && auditLog.idpb == null && auditLog.idluong == null}">cập nhật thông tin tài khoản <span th:text="${auditLog.idluong}"></span></span>
            </span>
            <span th:if="${auditLog.act.name() == 'DELETE'}">xóa 
              <span th:if="${auditLog.idnv != null}">mã nhân viên <span th:text="${auditLog.idnv}"></span></span>
              <span th:if="${auditLog.idpb != null}">mã phòng ban <span th:text="${auditLog.idpb}"></span></span>
              <span th:if="${auditLog.idluong != null}">mã lương <span th:text="${auditLog.idluong}"></span></span>
            </span>
            <span th:if="${auditLog.act.name() == 'CHANGEPASS'}">thay đổi mật khẩu</span>
          </p>
          <br>
          <a th:href="@{/auditlogs}" class="btn btn-danger">Quay lại</a>
        </div>
      </div>
    </div>
    &nbsp; &nbsp; 
    
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="footer-content text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <div class="footer-left"> 
            <b>Copyright©2024 Dương Thành Đạt.</b> All rights reserved.
          </div>
          <div class="footer-right">
            <b>Version</b> 1.0.0
          </div>
        </div>
    </footer>  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
</body>
</html>