<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" href="style02.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    <style>
      html, body {
          height: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
      }
      .content {
          flex: 1 0 auto; /* allows content to grow and take up available space */
      }
      footer {
          flex-shrink: 0; /* prevents the footer from shrinking */
          height: 100px; /* Adjust this value as needed */
          background-color: rgba(0, 0, 0, 0.2);
          text-align: center;
          line-height: 100px; /* Center content vertically */
          margin-top: 50px;
      }
    </style>
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/} ">Quản lý Nhân viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/departments} ">Quản lý Phòng ban</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/salaries} ">Quản lý Lương</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/accounts} ">Tài khoản</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
              <a class="nav-link" th:href="@{/logout} ">Đăng xuất</a>
            </li>
          </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <form class="form-inline" th:action="@{/findemployee}">
            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm">
            <button class="btn btn-outline-success" type="submit" >Tìm kiếm</button>
           </form>
        </nav>
      </nav>
      <br>
    <!-- Body -->
    <div class="container light-style flex-grow-1 container-p-y">
      <h2 class="py-3 mb-4">
        Thông tin tài khoản
      </h2>
      <div class="card overflow-hidden"> 
        <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
              <a class="list-group-item list-group-item-action active" data-toggle="list"
                href="#account-general">Thông tin chung</a>
              <a class="list-group-item list-group-item-action" data-toggle="list"
                href="#account-details">Thông tin chi tiết</a>
              <a class="list-group-item list-group-item-action" data-toggle="list"
                href="#account-salary">Thông tin lương</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">

              <div class="tab-pane fade active show" id="account-general" th:object="${employee}">
                <div class="card-body media align-items-center">
                  <img th:if="${employee.anh != null}" th:src="${'data:image/jpeg;base64,' + employee.anh}" height="100" width="100"
                    class="d-block ui-w-80">
                  <img th:if="${employee.anh == null}" src="https://bootdey.com/img/Content/avatar/avatar1.png" height="100" width="100"
                    class="d-block ui-w-80">
                </div>
                <hr class="border-light m-0">
                <div class="card-body"> 
                  <div class="form-group">
                    <label class="form-lable">Mã nhân viên</label>                     
                    <output class="form-control mb-1" name="idnv" th:text="${employee.idnv}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Họ và tên</label>
                    <output class="form-control mb-1" name="hoten" th:text="${employee.hoten}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Email</label>
                    <output class="form-control mb-1" name="email" th:text="${employee.email}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Chức vụ</label>
                    <output class="form-control mb-1" name="chucvu" th:text="${employee.chucvu}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Mã Phòng ban</label>
                    <!-- <output class="form-control mb-1" name="idpb" th:text="${employee.idpb}"></output> -->
                    <input type="text" class="form-control mb-1"
                    name="idpb"
                    th:field="*{idpb}"> 
                  </div>
                </div>
              </div>

              <div class="tab-pane face" id="account-details" th:object="${employee}">
                <div class="card-body pb-2">
                  
                  <div class="form-group">
                    <label class="form-lable">Quê quán</label>
                    <output class="form-control mb-1" name="quequan" th:text="${employee.quequan}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Ngày sinh</label>
                    <output class="form-control mb-1" name="ngaysinh" th:text="${employee.ngaysinh}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Giới tính</label>
                    <output class="form-control mb-1" name="gt" th:text="${employee.gt}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Dân tộc</label>
                    <output class="form-control mb-1" name="dantoc" th:text="${employee.dantoc}"></output>
                  </div>
                </div>
                <hr class="border-light m-0">
                <div class="card-body pb-2"> 
                  <h6 class="mb-4">Liên hệ</h6>
                  <div class="form-group">
                    <label class="form-lable">Số điện thọai</label>
                    <output class="form-control mb-1" name="sdt" th:text="${employee.sdt}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Email</label>
                    <output class="form-control mb-1" name="email" th:text="${employee.email}"></output>
                  </div>
                </div>
              </div>

              <div class="tab-pane face" id="account-salary" th:object="${salary}">
                <div class="card-body pb-2">
                  <div class="form-group">
                    <label class="form-lable">Mã Lương</label>
                    <output class="form-control mb-1" name="idluong" th:text="${salary.idluong}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Lương cơ bản</label>
                    <output class="form-control mb-1" name="current">1350000</output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Hệ số lương</label>
                    <output class="form-control mb-1" name="hsl" th:text="${salary.hsl}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Phụ cấp</label>
                    <output class="form-control mb-1" name="current" th:text="${salary.phucap}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Bảo hiểm lao động</label>
                    <output class="form-control mb-1" name="current" th:text="${salary.baohiem}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Trừ lương</label>
                    <output class="form-control mb-1" name="current" th:text="${salary.truluong}"></output>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Tổng lương</label>
                    <output class="form-control mb-1" th:text="'₫' +${#numbers.formatDecimal(salary.tongluong, 1, 'COMMA', 2, 'POINT')}"></output>
                  </div>
                </div>
            </div>

            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="text-right mt-3">
        <a th:href="@{/}" class="btn btn-danger ">
            Quay lại
        </a>
      </div>
    </div>
      <br>
      <br>
      <footer class="bg-light text-center text-lg-start">
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright
          </div>
      </footer>
      <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
      <script type="text/javascript"></script>
      <script>
        function formatVND(n, currency) {
          return currency + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
        }
        
        document.addEventListener('DOMContentLoaded', function() {
          var currentElements = document.getElementsByName('current');
          for (var i = 0; i < currentElements.length; i++) {
            var currentValue = parseInt(currentElements[i].textContent);
            currentElements[i].textContent = formatVND(currentValue, '₫');
          }
        });
      </script>
</body>
</html>