<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"> -->
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/} ">Quản lý Nhân viên</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/departments} ">Quản lý Phòng ban</a>
              </li>
          </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm">
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
          </form>
        </nav>
      </nav>
      <br>
    <!-- Body -->
    <div class="container light-style flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">
        Thong tin Tai khoan
      </h4>
      <div class="card overflow-hidden"> 
        <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
              <a class="list-group-item list-group-item-action active" data-toggle="list"
                href="#account-general">Thong tin chung</a>
            </div>
            <div class="list-group list-group-flush account-settings-links">
              <a class="list-group-item list-group-item-action active" data-toggle="list"
                href="#account-details">Thong tin chi tiet</a>
            </div>
            <div class="list-group list-group-flush account-settings-links">
              <a class="list-group-item list-group-item-action active" data-toggle="list"
                href="#account-social-links">Lien ket xa hoi</a>
            </div>
            <div class="list-group list-group-flush account-settings-links">
              <a class="list-group-item list-group-item-action active" data-toggle="list"
                href="#account-access">Quyen truy cap</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">

              <div class="tab-pane fade active show" id="account-general">
                <div class="card-body media align-items-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" height="100"
                    class="d-block ui-w-80">
                </div>
                <hr class="border-light m-0">
                <div class="card-body"> 
                  <div class="form-group">
                    <label class="form-lable">Ho ten</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Email</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Chuc vu</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Phong ban</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                </div>
              </div>

              <div class="tab-pane face" id="account-details">
                <div class="card-body pb-2">
                  <div class="form-group">
                    <label class="form-lable">Gioi thieu</label>
                    <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam a repellat velit porro totam aperiam, est distinctio eveniet possimus dolorem accusamus error aspernatur, eos culpa impedit tempora temporibus corrupti debitis.</textarea>
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Que quan</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Ngay sinh</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Gioi tinh</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Dan toc</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                </div>
                <hr class="border-light m-0">
                <div class="card-body pb-2"> 
                  <h6 class="mb-4">Lien he</h6>
                  <div class="form-group">
                    <label class="form-lable">So dien thoai</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                  <div class="form-group">
                    <label class="form-lable">Email</label>
                    <input type="text" class="form-control mb-1"> 
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="account-social-links">
                <div class="form-group">
                  <label class="form-label">Twitter</label>
                  <input type="text" class="form-control" value="https://twitter.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Facebook</label>
                  <input type="text" class="form-control" value="https://www.facebook.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Google</label>
                  <input type="text" class="form-control" value>
                </div>
                <div class="form-group">
                  <label class="form-label">LinkedIn</label>
                  <input type="text" class="form-control" value>
                </div>
                <div class="form-group">
                  <label class="form-label">Instagram</label>
                  <input type="text" class="form-control" value="https://www.instagram.com/user">
                </div>
              </div>

              <div class="tab-pane fade" id="account-access">
                <div class="card-body pb-2">
                  <h6 class="mb-4">Quyen truy cap</h6>
                  <div class="form-group">
                    <label class="switcher">
                      <input type="checkbox" class="switcher-input" checked>
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-yes"></span>
                      </span>
                      <span class="switcher-label">Network Access</span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="switcher">
                      <input type="checkbox" class="switcher-input" checked>
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-yes"></span>
                      </span>
                      <span class="switcher-label">HR Portal</span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="switcher">
                      <input type="checkbox" class="switcher-input" checked>
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-yes"></span>
                      </span>
                      <span class="switcher-label">CRM System</span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="switcher">
                      <input type="checkbox" class="switcher-input" checked>
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-yes"></span>
                      </span>
                      <span class="switcher-label">Finance System</span>
                    </label>
                  </div>
                </div>

                <hr class="border-light m-0">
                <div class="card-body pb-2">
                  <h6 class="mb-4">Trang bi</h6>
                  <div class="form-group">
                    <label class="switcher">
                      <input type="checkbox" class="switcher-input" checked>
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-yes"></span>
                      </span>
                      <span class="switcher-label">Order PC</span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="switcher">
                      <input type="checkbox" class="switcher-input" checked>
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-yes"></span>
                      </span>
                      <span class="switcher-label">Order Laptop</span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="switcher">
                      <input type="checkbox" class="switcher-input" checked>
                      <span class="switcher-indicator">
                        <span class="switcher-yes"></span>
                        <span class="switcher-yes"></span>
                      </span>
                      <span class="switcher-label">Order Mobile Phone</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right mt-3">
        <a href="#" class="btn btn-danger ">
            Quay lai
        </a>
      </div>
      </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
    </script>
</body>
</html>