<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{forgotpasstitle}"></title>
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/style01.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-language" style="font-size: 25px;"></i> <!-- Adjust font size to make it noticeable -->
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">      
                        <li><a class="dropdown-item" th:href="@{/?lang=en}" th:text="#{languagevn}"></a></li>
                        <li><a class="dropdown-item" th:href="@{/?lang=vi}" th:text="#{languageen}"></a></li>
                    </ul>
                </li>
            </ul>
		</div>
	</nav>
    <!-- Body -->
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 align="center" th:text="#{forgotpasstitle}"></h1>
                <form th:action="@{/upforgotpassword}" method="post">
                    <!-- Tin nhắn báo lỗi -->
                    <div th:if="${error != null}">
                        <div class="alert alert-danger">[[${error}]]</div>
                    </div>
                    <!-- Tin nhắn báo thành công -->
                    <div th:if="${message != null}">
                        <div class="alert alert-info">[[${message}]]</div>
                    </div>

                    <div>
                        <p th:text="#{instructionmess}" style="padding-top: 10px; padding-left: 55px; font-size: 16px; font-weight: bold;"></p>
                    </div>

                    <div class="form-group">
                        <label for="email" th:text="#{employeeemail}"></label>:
                        <input type="email" class="form-control" name="email"
                        th:placeholder="#{emailinput}"                                  
                        autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="Login-submit" id="Login-submit" class="form-control btn btn-primary"
                                th:value="#{sentbtn}"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <a th:href="@{/login}" th:text="#{returnbtn}" class="form-control btn btn-danger"></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="footer-content text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <div class="footer-left"> 
            <b>Copyright©2024 Dương Thành Đạt.</b> All rights reserved.
          </div>
          <div class="footer-right">
            <b>Version</b> 1.0.0
          </div>
        </div>
    </footer> 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
</body>
</html>