<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/} ">Quản lý Nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/departments} ">Quản lý Phòng ban</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" th:href="@{/registration} ">Đăng ký</a>
            </li> -->
            <li sec:authorize="isAuthenticated()" class="nav-item">
              <a class="nav-link" th:href="@{/logout} ">Đăng xuất</a>
            </li>
          </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <form class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm">
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
          </form>
        </nav>
    </nav>
    <br>

    <!-- Body -->
    <div class="container">
        <div class="row">
            <h1> Danh sách Nhân viên</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/addEmployee}" class="btn btn-primary btn-sm mb-3">
                    Thêm mới
                </a>
                <a th:href="@{/registration}" class="btn btn-primary btn-sm mb-3">
                    Đăng ký
                </a>
            </div>
        </div>
        <table class="table thead-light table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Quê quán</th>
                    <th>Giới tính</th>
                    <th>Dân tộc</th>
                    <th>SĐT</th>
                    <th>Email</th>
                    <th>Chức vụ</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "employee : ${ListEmployees}">
                    <td th:text="${employee.idnv}"></td>
                    <td th:text="${employee.Hoten}"></td>
                    <td th:text="${employee.Ngaysinh}"></td>
                    <td th:text="${employee.Quequan}"></td>
                    <td th:text="${employee.GT}"></td>
                    <td th:text="${employee.Dantoc}"></td>
                    <td th:text="${employee.SDT}"></td>
                    <td th:text="${employee.Email}"></td>
                    <td th:text="${employee.Chucvu}"></td>
                    <td>
                      <a th:href="@{/updateEmployee/{id}(id=${employee.idnv})}" class="btn btn-primary">Sửa</a>
                      <a th:href="@{/deleteEmployee/{id}(id=${employee.idnv})}" class="btn btn-danger">Xóa</a>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright
      </div>
    </footer> -->
</body>
</html>