<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
</head>
<body>
    <div align="center">
        <h1> Danh sách Nhân viên</h1>
        <table border="1">
            <thead >
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Quê quán</th>
                    <th>Dân tộc</th>
                    <th>SDT</th>
                    <th>Email</th>
                    <th>Chức vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "employee : ${ListEmployees}">
                    <td th:text="${employee.idnv}"></td>
                    <td th:text="${employee.Hoten}"></td>
                    <td th:text="${employee.Ngaysinh}"></td>
                    <td th:text="${employee.Quequan}"></td>
                    <td th:text="${employee.Dantoc}"></td>
                    <td th:text="${employee.SDT}"></td>
                    <td th:text="${employee.Email}"></td>
                    <td th:text="${employee.Chucvu}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>