<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
    <div th:fragment="loading">
        <div id="loader" class="loader"></div>
        <div id="content" style="display:none;">
            <!-- <th:block th:replace="fragments/header :: header"></th:block> -->
            <div th:replace="${page}"></div>
            <!-- <th:block th:replace="fragments/footer :: footer"></th:block> -->
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Ẩn loader và hiển thị nội dung sau khi trang tải xong
            document.getElementById('loader').style.display = 'none';
            document.getElementById('content').style.display = 'block';

            // Khôi phục thanh cuộn sau khi nội dung đã tải
            document.body.style.overflow = 'auto';
        });
    </script>
</body>
</html>
