<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a> -->
			</div>
		</div>
	</nav>
    <!-- Body -->
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                &nbsp;
                <h1 align="center"> Đăng nhập </h1>
                &nbsp;
                <form th:action="@{/user/login}" method="post">
                    <!-- Tin nhắn báo lỗi -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Sai tên đăng nhập hoặc mật khảu</div>
                        <h4 style="color: red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h4>
                    </div>
                    <!-- Tin nhắn báo đăng xuất -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">Bạn đã đăng xuất thành công.</div>
                    </div>

                    <div class="form-group">
                        <label for="username">Email</label>:
                        <input type="email" class="form-control" id="username" name="username"
                        placeholder="Nhập Email" autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label for="password">Mật khẩu</label>:
                        <input type="password" class="form-control"  id="password" name="password"
                        placeholder="Nhập Mật khẩu">
                    </div>

                    <div class="form-group">
                        <a  href="#">Quên mật khẩu?</a></span>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="Login-submit" id="Login-submit" class="form-control btn btn-primary"
                                value="Đăng nhập"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a th:href="@{/admin/login}" style="position: fixed;
        bottom: 10px;
        right: 10px;
        margin: 0;
        padding: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        text-decoration: underline;">
        ADMIN LOGIN
    </a>
    <!-- <img src="../templates/profile.png" style="height: 35px; float: right;
        position: fixed;
        bottom: 10px; 
        right: 10px;
        margin: 0;
        padding: 0;
        margin-right: 10px;
        margin-bottom: 10px;"
        alt="Chuyển sang trang đăng nhập quản lý"
    > -->
</body>
</html>
