<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
</head>
<body>

    <!-- Header -->

    <!-- Body -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset3">
                <h1> Đăng nhập </h1>
                <form th:action="@{/Login}" method="post">
                    <!-- Tin nhắn báo lỗi -->
                    <div class="alert alert-danger">Sai tên đăng nhập hoặc mật khảu</div>
                    <!-- Tin nhắn báo đăng xuất -->
                    <div th:if="${param.Logout}">
                        <div class="alert alert-info">Bạn đã đăng xuất thành công.</div>
                    </div>

                    <div class="form-group">
                        <label for="username">Tên người dùng</label>:
                        <input type="text" class="form-control" id="username" name="username"
                        placeholder="Nhập Tên người dùng" autofocus="autofocus">
                    </div>

                    <div class="form-group">
                        <label for="password">Mật khẩu</label>:
                        <input type="password" class="form-control"  id="password" name="password"
                        placeholder="Nhập Mật khẩu">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="Login-submit" id="Login-submit" class="form-control btn btn-primary"
                                value="Đăng nhập"/>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
</html>