<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
		</div>
	</nav>
    <!-- Body -->
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                &nbsp;
                <h1 align="center"> Đăng ký </h1>
                &nbsp;
                <!-- Tin nhắn thành công -->
                <div th:if="${param.success}">
                    <div class="alert alert-info">Bạn đã đăng ký tài khoản thành công!</div>
                </div>

                <form th:action="@{/admin/saveRegistration}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label class="control-label" for="name">
                            Nhập họ và tên
                        </label>
                        <input id="hoten" class="form-control" 
                        th:field="*{hoten}" required autofocus="autofocus"
                        placeholder="Nhập họ và tên người dùng"
                        >
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">
                            Nhập email
                        </label>
                        <input id="email" class="form-control"  type="email"
                        th:field="*{email}" required autofocus="autofocus"
                        placeholder="Nhập email người dùng">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">
                            Nhập mật khẩu
                        </label>
                        <input id="password" class="form-control" type="password"
                        th:field="*{password}" required autofocus="autofocus"
                        id="password" name="password"
                        placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">
                            Nhập lại mật khẩu
                        </label>
                        <input id="password" class="form-control" type="password"
                        id="rpassword" name="rpassword" required autofocus="autofocus"
                        oninput="ktMatkhauhople(this)"
                        placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Đăng ký</button>
                        &nbsp;
                        <a th:href="@{/login}" class="btn btn-danger">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function ktMatkhauhople(confirmPass) {
            if(confirmPass.value != $("#password").val()){
                confirmPass.setCustomValidity("Mật khẩu không trùng khớp!");
            }else{
                confirmPass.setCustomValidity("");
            }
        }
    </script>
</body>
</html>