<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thay đổi mật khẩu</title>
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1 0 auto; /* allows content to grow and take up available space */
        }
        footer {
            flex-shrink: 0; /* prevents the footer from shrinking */
            height: 100px; /* Adjust this value as needed */
            background-color: rgba(0, 0, 0, 0.2);
            text-align: center;
            line-height: 100px; /* Center content vertically */
            margin-top: 50px;
        }
    </style>
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
		</div>
	</nav>
    <!-- Body -->
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 align="center"> Thay đổi mật khẩu</h1>
                <form th:action="@{/upresetpassword}" method="post">
                    <!-- Tin nhắn báo lỗi -->
                    <div th:if="${error != null}">
                        <div class="alert alert-danger">[[${error}]]</div>
                    </div>
                    
                    <div class="form-group">
                        <input 
                            type="hidden"
                            name="token"
                            th:value="*{token}"
                            class="form-control"
                        />
                    </div>

                    <div class="form-group">
                        <label for="password">Mật khẩu mới</label>:
                        <input type="password" class="form-control" id="password" name="password"
                        placeholder="Nhập mật khẩu mới" required autofocus="autofocus"
                        />
                    </div>

                    <div class="form-group">
                        <label for="password">Xác nhận mật khẩu</label>:
                        <input type="password" class="form-control"  id="rpassword" name="rpassword"
                        placeholder="Nhập lại mật khẩu" required autofocus="autofocus"
                        oninput="ktMatkhauhople(this)"/>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="Login-submit" id="Login-submit" class="form-control btn btn-primary"
                                value="Thay đổi mật khẩu"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright
        </div>
    </footer>
    <script>
        function ktMatkhauhople(input) {
            var passwordInput = document.getElementById('password');
            var rpasswordInput = document.getElementById('rpassword');
    
            // Check if passwords match
            if (passwordInput.value === rpasswordInput.value) {
                rpasswordInput.setCustomValidity('');
            } else {
                rpasswordInput.setCustomValidity('Mật khẩu không trùng khớp!');
            }
        }
    </script>
</body>
</html>