<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
    <style>
      html, body {
          height: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
      }
      .content {
          flex: 1 0 auto; /* allows content to grow and take up available space */
      }
      footer {
          flex-shrink: 0; /* prevents the footer from shrinking */
          height: 100px; /* Adjust this value as needed */
          background-color: rgba(0, 0, 0, 0.2);
          text-align: center;
          line-height: 100px; /* Center content vertically */
          margin-top: 50px;
      }
    </style>
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/} ">Quản lý Nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/departments} ">Quản lý Phòng ban</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/salaries} ">Quản lý Lương</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/accounts} ">Tài khoản</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
              <a class="nav-link" th:href="@{/logout} ">Đăng xuất</a>
            </li>
          </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <form class="form-inline" th:action="@{/findSalary}">
            <input class="form-control mr-sm-2" type="search" name = "keyword" placeholder="Tìm kiếm">
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
          </form>
        </nav>
    </nav>
    <br>

    <div class="container">
        <div class="row">
            &nbsp; &nbsp; 
            <h1> Danh sách Lương</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/addSalary}" class="btn btn-primary btn-sm mb-3">
                    Thêm mới
                </a>
            </div>
        </div>
        <!-- Tin nhắn báo lỗi -->
        <div th:if="${errorMess != null}">
          <div class="alert alert-danger">[[${errorMess}]]</div>
        </div>
        <table class="table thead-light table-bordered">
            <thead class="table-dark">
                <tr>
                  <th>
                    <a th:href="@{'/pageSalary/' + ${currentPage} + '?sortField=idluong&sortDir=' + ${reverseSortDir}}">ID Lương</a>
                  </th>
                  <th>Lương cơ bản</th>
                  <th>
                    <a th:href="@{'/pageSalary/' + ${currentPage} + '?sortField=hsl&sortDir=' + ${reverseSortDir}}">Hệ số lương</a>
                  </th>
                  <th>
                    <a th:href="@{'/pageSalary/' + ${currentPage} + '?sortField=phucap&sortDir=' + ${reverseSortDir}}">Phụ cấp</a>
                  </th>
                  <th>
                    <a th:href="@{'/pageSalary/' + ${currentPage} + '?sortField=baohiem&sortDir=' + ${reverseSortDir}}">Bảo hiểm</a>
                  </th>
                  <th>
                    <a th:href="@{'/pageSalary/' + ${currentPage} + '?sortField=truluong&sortDir=' + ${reverseSortDir}}">Trừ lương</a>
                  </th>
                  <th>
                    <a th:href="@{'/pageSalary/' + ${currentPage} + '?sortField=truluong&sortDir=' + ${reverseSortDir}}"></a>Tổng lương</a>
                  </th>
                  <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "salary : ${ListSalaries}">
                    <td th:text="${salary.idluong}"></td>
                    <td th:text="${salary.luongcb}" name="current"></td>
                    <td th:text="${salary.hsl}"></td>
                    <td th:text="${salary.phucap}" name="current"></td>
                    <td th:text="${salary.baohiem}" name="current"></td>
                    <td th:text="${salary.truluong}" name="current"></td>
                    <td th:text="${salary.tongluong}"></td>
                    <td>
                      <a th:href="@{/updateSalary/{id}(id=${salary.idluong})}" class="btn btn-primary">Sửa</a>
                      <a th:href="@{/deleteSalary/{id}(id=${salary.idluong})}" class="btn btn-danger">Xóa</a>
                  </td>
                </tr>
            </tbody>
        </table>

        <div th:if="${totalPages>1}">
          <div class="row coL-sm-10">
            <div class="coL-sm-2">
              &nbsp; &nbsp;
              Tổng hàng: [[${totalItems}]]
              &nbsp; &nbsp;
            </div>
            <div class="coL-sm-1">
              <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/pageSalary/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
              </span>
            </div>

            <div class="coL-sm-1">
              <a th:if="${currentPage < totalPages}" th:href="@{'/pageSalary/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Tiếp</a>
              <span th:unless="${currentPage < totalPages}">Tiếp</span>
              &nbsp;
            </div>

            <div class="coL-sm-1">
              <a th:if="${currentPage < totalPages}" th:href="@{'/pageSalary/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Cuối</a>
              <span th:unless="${currentPage < totalPages}">Cuối</span>
            </div>
          </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright
      </div>
    </footer>
    <script>
      function formatVND(n, currency) {
        return currency + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
      }
      
      document.addEventListener('DOMContentLoaded', function() {
        var currentElements = document.getElementsByName('current');
        for (var i = 0; i < currentElements.length; i++) {
          var currentValue = parseInt(currentElements[i].textContent);
          currentElements[i].textContent = formatVND(currentValue, '₫');
        }
      });
    </script>
</body>
</html>