<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ thống quản lý Nhân viên</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous">
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/}">Hệ thống Quản lý Nhân viên</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/} ">Quản lý Nhân viên</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/departments} ">Quản lý Phòng ban</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/salaries} ">Quản lý Lương</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/accounts} ">Quản lý Tài khoản</a>
              </li>
              <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" th:href="@{/admin/logout} ">Đăng xuất</a>
              </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <form class="form-inline" th:action="@{/finduser}">
              <input class="form-control mr-sm-2" type="search" name = "keyword" placeholder="Tìm kiếm">
              <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
          </nav>
      </nav>
      <br>
    <!-- Body -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <br>
                <h1 class="text-center">Chỉnh sửa thông tin Tài khoản</h1>
                <div class="card-body">
                    <form action="#" th:action="@{/saveAccount}" th:object="${user}" method="post">
                        <!-- Phan action tren day chinh la cho se quyet dinh trang web se lam gi sau khi an 
                        nut gui -->
                        <div class="form-group">
                            <input 
                                type="hidden"
                                th:field="*{iduser}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Tên người dùng</label>
                            <input id="hoten" class="form-control" 
                            th:field="*{hoten}" required autofocus="autofocus"
                            />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input id="email" class="form-control"  type="email"
                            th:field="*{email}" required autofocus="autofocus"
                            />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu cũ</label>
                            <input 
                                type="password"
                                id="password"
                                th:field="*{password}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <input 
                                type="password"
                                id="password"
                                th:field="*{password}"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label>Vai trò</label>
                            <select id="role" class="form-control" th:field="*{role}">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                        &nbsp;
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Cập nhật
                            </button>
                        </div>
                    </form>
                    <hr>
		            <a th:href="@{/admin/accounts}">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
</html>