html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

.dropdown-item {
    white-space: normal; 
    word-wrap: break-word; 
    word-break: break-word; 
    overflow-wrap: break-word;
    padding: 10px;
}

.dropdown-menu {
    width: 300px;
    max-height: 300px; 
    overflow-y: auto; 
    white-space: normal;
}

footer {
    flex-shrink: 0; 
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 100px; 
    margin-top: 50px;
}
.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px; 
    flex-wrap: wrap;
}
.footer-left, .footer-right {
    display: inline-block;
}
.footer-left, .footer-right {
    display: inline-block;
    margin: 10px 200px;
}

.drop-zone {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
}
.drop-zone-text {
    font-size: 16px;
    color: black;
}
.drop-zone.dragover {
    background-color: #e2e2e2;
}
@media (max-width: 768px) {
    .footer-left, .footer-right {
        margin: 0; 
        width: 100%;
        text-align: center; 
    }
    .footer-content {
        flex-direction: column; 
    }
}